div.roulette.vertical > div.roulette-cases > div.roulette-case-wrapper > div.roulette-case > div#skin-calc-plus-case-info {
    opacity: 0;
}

#skin-calc-plus-case-info {
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 1090px;
}

#skin-calc-plus-case-info.skin-calc-plus-fade-in {
    opacity: 1;
}

.skin-calc-plus-case-info-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 420px;
}

.skin-calc-plus-case-info-row {
    height: 20%;

    border-top: 2px solid #16152c;
    border-bottom: 2px solid #141328;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    margin-left: 16px;
    padding-left: 12px;
    margin-right: 16px;
    padding-right: 12px;
}

.skin-calc-plus-case-info-row::before, .skin-calc-plus-case-info-row::after {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='28' fill='none' viewBox='0 0 186 291'%3E%3Cpath fill='url(%23a)' fill-opacity='.39' d='M37.995 145.733 122 291h64l-84-145.5L186 0h-64z'/%3E%3Cpath fill='url(%23b)' d='M79.995 145.734 164 291h22l-84-145.5L186 0h-22z'/%3E%3Cpath fill='%230E0B21' d='M184.5 0h1.5l-84 145.5L186 291h-1.5L100 145.5z'/%3E%3Cpath stroke='url(%23c)' stroke-width='3' d='m184 290-84-144.5L184 1'/%3E%3Crect width='291' height='186' x='186' fill='url(%23d)' fill-opacity='.15' rx='4' transform='rotate(90 186 0)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='131.996' x2='131.996' y1='.734' y2='290.734' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23131225'/%3E%3Cstop offset='.49' stop-color='%23171630'/%3E%3Cstop offset='1' stop-color='%23121125'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='79.996' x2='149.996' y1='145.734' y2='145.734' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231F1941'/%3E%3Cstop offset='.49' stop-color='%23171630'/%3E%3Cstop offset='1' stop-color='%23121125'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='697.845' x2='700.441' y1='9.151' y2='283.331' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23131328'/%3E%3Cstop offset='.494' stop-color='%236049EE' stop-opacity='.67'/%3E%3Cstop offset='1' stop-color='%2316142B'/%3E%3C/linearGradient%3E%3CradialGradient id='d' cx='0' cy='0' r='1' gradientTransform='matrix(0 93 -145.5 0 331.5 93)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235E36FE'/%3E%3Cstop offset='1' stop-color='%2311101F' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
    content: "";
    width: 16px;
    height: 28px;
    position: absolute;
}

.skin-calc-plus-case-info-row::before {
    left: -18px;
}

.skin-calc-plus-case-info-row::after {
    right: -18px;
    transform: scale(-1);
}

.skin-calc-plus-case-info-row > h5 {
    position: relative;
    width: 22%;
    text-align: right;
    text-wrap-mode: nowrap;
    height: 16px;
}

.skin-calc-plus-case-info-row > h5:first-of-type {
    position: relative;
    width: 30%;
    margin-right: auto;
    text-align: left;
}

.skin-calc-plus-cell-title {
    background-color: #121023;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    font-size: 8px;
    right: -5px;
    top: -1.4em;
    text-wrap-mode: nowrap;
}

.skin-calc-plus-cell-value {
    height: 16px;
    overflow: hidden;
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
}

div.skin-calc-plus-case-info-child .skin-calc-plus-cell-value > span:first-of-type {
    margin-top: 0px;
    transition: margin-top 0.2s;
}

div.skin-calc-plus-case-info-child.skin-calc-plus-show-old-gen .skin-calc-plus-cell-value > span:first-of-type {
    margin-top: -16px;
    transition: margin-top 0.2s;
}

#skin-calc-plus-generation-container {
    position: absolute;
    width: 340px;
    margin-bottom: 16px;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#skin-calc-plus-generation-toggle {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#skin-calc-plus-generation-toggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #fa3671, #26c897);
    mask-image:
        linear-gradient(to top, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 5%),
        linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-composite: intersect;

    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    mask-position: 170px 0px;

    transition: mask-position 0.3s;
}

#skin-calc-plus-generation-toggle:hover::before {
    mask-position: 140px 0px;
    transition: mask-position 0.1s;
}

div.skin-calc-plus-case-info-child.skin-calc-plus-show-old-gen #skin-calc-plus-generation-toggle::before {
    mask-position: -170px 0px;
    transition: mask-position 0.3s;
}

div.skin-calc-plus-case-info-child.skin-calc-plus-show-old-gen #skin-calc-plus-generation-toggle:hover::before {
    mask-position: -140px 0px;
    transition: mask-position 0.1s;
}

#skin-calc-plus-generation-toggle h5 {
    color: #58547b;
}

#skin-calc-plus-generation-toggle:hover h5 {
    color: #a9a6c2;
}

#skin-calc-plus-generation-toggle h5.skin-calc-plus-active-generation {
    color: #fff;
}

#skin-calc-plus-generation-checkbox {
    opacity: 0;
    position: absolute;
}

div.skin-calc-plus-case-info-child h5 {
    transition: color 0.2s;
}

div.skin-calc-plus-case-info-child.skin-calc-plus-show-old-gen > div.skin-calc-plus-case-info-row h5 {
    color: #7e7d9c;
    transition: color 0.2s;
}

.skin-calc-plus-prev-gen-change-indicator {
    position: absolute;
    top: 5px;
    margin-left: 4px;
    height: 6px;
    width: 8px;

    opacity: 1;
    transition: opacity 0.2s;
}

.skin-calc-plus-prev-gen-change-indicator.skin-calc-plus-prev-gen-change-positive {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpolygon points='4,0 8,6 0,6' fill='%2326c897'/%3E%3C/svg%3E");
}

.skin-calc-plus-prev-gen-change-indicator.skin-calc-plus-prev-gen-change-negative {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpolygon points='4,6 8,0 0,0' fill='%23fa3671'/%3E%3C/svg%3E");
}

div.skin-calc-plus-case-info-child.skin-calc-plus-show-old-gen .skin-calc-plus-prev-gen-change-indicator {
    opacity: 0;
    transition: opacity 0.2s;
}

#skin-calc-plus-last-odds-update {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    bottom: -1.6em;
    right: 28px;
    color: #7e7d9c;
}